<h1>Welcome Home</h1>
<ul>
    <li><a href="/ideas">Ideas</a></li>
    <li><a href="/ideas/add">Add Idea</a></li>
    <li><a href="/users/register">Register</a></li>
    <li><a href="/users/login">Logi</a></li>
</ul>