<h2>Add Idea</h2>

<form action="/ideas" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="details">Details</label>
    <textarea type="text" name="details"></textarea>
    <button type="submit">Submit</button>
</form>

{{#each errors}}
    {{text}}</br>
{{else}}

{{/each}}