.primary {
  background: #0094fe;
  padding: .35em 2em;
  border-radius: 1em;
  color: #fff;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  transition: .5s ease;
  &:hover {
    background: #31b7fe;
  }
}