.wrapper {
    background-color: #ddd;
    padding: 1.5em;
}
    .title {
        margin: 0;
        padding-bottom: .25em;
        border-bottom-width: .10em;
        border-bottom-style: dotted;
    }
    .copy {
        
    }