.header {
    border: blue solid 1px;
}
    .favorite {

    }
    .name {
    }
        .name__copy {

        }
    .rating {
        
    }

.heart {
    &:before {
        content: "\f08a";
    }
    &:hover {
        cursor: pointer;
        &:before {
            content: "\f004";
        }
    }
}