.header {
    border: blue solid 1px;
    background: linear-gradient(90deg, #86f0fe 0%, #31b7fe 41%, #0094fe 75%);
    padding: .5em 1.5em;
}
    .favorite {

    }
    .name {
    }
        .name__copy {

        }
    .rating {
        
    }

.heart {
    font-size: 1.35em;
    &:before {
        content: "\f08a";
    }
    &:hover {
        cursor: pointer;
        &:before {
            content: "\f004";
            color: #fff;
        }
    }
}