<div>
    <h2>Register</h2>
    <form action="/users/register" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{name}}" required>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{email}}" required>
        <label for="password">Password</label>
        <input type="password" name="password" value="{{password}}" required>
        <button type="submit">Submit</button>
    </form>
</div>