.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .brand {
        
    }
        .name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            letter-spacing: .25em;
            color: #0c082b;
            text-decoration: none;
            text-transform: uppercase;
        }
    .navigation {

    }
        .list {
            margin: 0;
            padding: 0;
        }
            .item {
                display: inline-block;
                padding: 0 1em;
                font-family: 'Lato', sans-serif;
                &:last-child {
                    padding-right: 0;
                }
            }
                .link {
                    color: #0c082b;
                    text-decoration: none;
                }