.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .brand {
    }
        .name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            letter-spacing: .25em;
            color: #0c082b;
            text-decoration: none;
            text-transform: uppercase;
            transition: .3s ease;
            &:hover {
              color: #0094fe;
            }
        }
    .navigation {

    }
        .list {
            margin: 0;
            padding: 0;
        }
            .item {
                display: inline-block;
                padding: 0 1em;
                font-family: 'Lato', sans-serif;
            }
            .itemBtn {
              display: inline-block;
              padding: 0 1em;
              font-family: 'Lato', sans-serif;
              padding-right: 0;
              transition: .3s ease;
              &:hover {
                transform: translateY(10%);
              }
            }
                .link {
                    color: #0c082b;
                    text-decoration: none;
                    transition: .3s ease;
                    &:hover {
                      color: #0094fe;
                    }
                }