.selection {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.5em;
}
    .list {
        overflow: hidden;
        border: #e8e8e8 solid 1px;
        background: #fff;
        margin: 0;
        padding: 0;
        border-radius: 1em;
        box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.08);
    }
        .item {
            list-style: none;
        }
            .link {
                font-size: 1em;
                padding: .5em 1em;
                display: block;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                color: #0c082b;
                &:hover {
                    background: #f2f4ff;
                }
            }